/* Set the webpage margins and height so elements take up whole page */
html, body {
    position: relative;
    margin: 0;
    height: 100%;
}

/* Set a height for the nav element to better align children elements */
nav {
    position: relative;
    height: 42px;
}
/* Stretch navigation list to take up the entire nav element and remove bullets */
nav ol {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Line up the list elements horizontally and adjust spacing */
nav li {
    display: inline-block;
    margin: 10px;
}

/* Remove the underline from links and change color black */
nav a {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

/* Shift links to the left or right of the screen */
.left-align {
    position: absolute;
    left: 10px;
}

.right-align {
    position: absolute;
    right: 0;
}

/* Move the footer to the bottom of the screen */
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #eee;
}

/* Set container dimensions */
.container {
    position: relative;
    height: calc(100% - 84px);
}

/* Shift logo, searchbar, and buttons to center of screen */
.logo {
    position: absolute;
    height: 89px;
    width: 244px;
    top: calc(50% - 95px);
    left: calc(50% - 125px);
    margin: 10px;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.searchfield {
    position: absolute;
    top: 52%;
    left: calc(50% - 200px);
}

input[name="searchbar"] {
    width: 400px;
    height: 25px;
    left: calc(50% - 200px);
}

input[type="submit"] {
    position: relative;
    height: 30px;
    width: 120px;
    margin: 10px 2px;
    left: calc(50% - 120px);
}
